################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AccountingSystem/bin
/.vs/AccountingSystem/v16
/AccountingSystem/obj
